<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', Helvetica, sans-serif;
  background-color: #EEEBE9;
  color: #404040;
}

p {
  font-family: 'Rubik', Helvetica, sans-serif; 
  font-size: 20px; 
}

h1 {
  font-size: 40px;
}

h2 {
  line-height: 0;
  font-size: 30px;
}

a {
  color: #404040;
  text-decoration: none;
}

/* header template from W3Schools */
/* style the header */
.header {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 20px 50px;
  overflow: hidden;
}
  /* style the header links */
  .header a {
    float: left;
    color: #404040;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 15px;
    border-radius: 4px;
    align-items: center;
  }
  
  /* style the logo link */
  .header a.logo {
    font-size: 15px;
    font-weight: medium;
  }
  
  /* style the active/current link*/
  .header a.active {
    color: #404040;
    text-decoration: underline;
  }
  
  /* float the link section to the right */
  .header-right {
    float: right;
  }

/* styling button */
.button {
    border: 3px solid #404040;
    color: #404040;
    background-color: #EEEBE9;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
    font-family: 'Rubik', Helvetica, sans-serif;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .long-button {
    width: 300px;
  }

/* for each page's main content */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    align-items: center;
    padding: 10px;

}/* column styling */
.column {
    flex: 75%;
  }

.column img {
    margin: 10px;
    vertical-align: middle;
}

/* inline styling */
.inline {
    display: inline-block;
    padding: 0px 10px;
    bottom: auto;
}

/* page title */
.title {
    float: left;
    padding: 10px;
    clear: both;
}

/* product cards */
.pcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 25px;
    margin: 10px 60px 20px 10px;
    background-color: #E7E3DF;
    border-radius: 20px;
    text-align: center;
    font-family: 'Rubik', Helvetica, sans-serif; 
    float: left;
  }

.pcard-text {
    width: 0;
    min-width: 100%;
    text-align: left;
    margin: 1rem 1rem -1rem 1rem;
}

  
/* id styling */
#center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px 5px 0px 5px;
    text-align: center;
  }

#cart {
    padding: 8px 15px;
}
#arrow {
    padding: 10px 8px 0px 8px;
}



</style>
</head>